<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Update floor</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/accounts">ACCOUNTS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/spots">SPOTS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/tickets">TICKETS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/vehicles">VEHICLES</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/admins">ADMINS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/floors">FLOORS<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/parkings">PARKINGS</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/payments">PAYMENTS</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container my-5">
    <h3> UPDATE FLOOR</h3>
    <div class="card">
        <div class="card-body">
            <div class="col-md-8">
                <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
                <form action="#" th:action="@{/floors/update/{id}(id=${floor.getId()})}" th:object="${floor}" method="post">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="floor_number" class="col-form-label">FLOOR NUMBER</label>
                            <input type="text" th:field="*{floorNumber}" class="form-control" id="floor_number">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('floorNumber')}" th:errors="*{floorNumber}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="spot_number" class="col-form-label">SPOT NUMBER</label>
                            <input type="text" th:field="*{spotNumber}" class="form-control" id="spot_number">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('spotNumber')}" th:errors="*{spotNumber}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <label for="parking_id" class="col-form-label">PARKING ID</label>
                            <input type="text" th:field="*{parkingID}" class="form-control" id="parking_id">
                            <span class="font-italic text-danger" th:if="${#fields.hasErrors('parkingID')}" th:errors="*{parkingID}"></span>
                        </div>
                        <div class="form-group col-md-8">
                            <input type="submit" class="btn btn-primary" value="UPDATE FLOOR">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>